/* Hide Bitnami Banner */
#bitnami-banner, #footer-widgets {display:none;}


/* Center divi blog galleries */
.et_pb_gallery_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Mobile Menu Styles */
.et_mobile_menu { border-top: 0 solid #1d1d1d !important; }
span.mobile_menu_bar:before {
    color: #2d2d2d !important;
}
ul#mobile_menu.et_mobile_menu a, ul#top-menu a {
 text-transform: uppercase;
}
/* Enable Search on Mobile for Divi Centered and Centered Inline Logo Headers */
@media (max-width: 980px) {
    /* make search icon visible */
    .et_header_style_centered #et_top_search, 
    .et_vertical_nav.et_header_style_centered #main-header #et_top_search,
    .et_header_style_split #et_top_search, 
    .et_vertical_nav.et_header_style_split #main-header #et_top_search {
        display: block !important;
        float: right;
        z-index: 99999;
    }
    /* align search icon for Centered header */
    .et_header_style_centered #et_search_icon:before {
        top: 7px;
        left: -3px;
    }
    /* align search icon for Centered Inline Logo header*/
    .et_header_style_split #et_search_icon:before {
        margin-top: 0;
        left: -3px;
    }
    /* make search field visible */
    .et_header_style_centered .et_search_outer, 
    .et_header_style_split .et_search_outer {
        display: block;
    }
    /* set max-width for search form container */
    .et_header_style_centered .container.et_search_form_container,
    .et_header_style_split .container.et_search_form_container.et_pb_search_visible,
    .et_header_style_split .container.et_search_form_container.et_pb_search_form_hidden {
        max-width: 100% !important;
    }
    /* apply in-animation for search form container */
    .et_header_style_centered .container.et_search_form_container.et_pb_search_visible,
    .et_header_style_split .container.et_search_form_container.et_pb_search_visible {
        z-index: 999;
        -webkit-animation: fadeInTop 1s 1 cubic-bezier(.77,0,.175,1);
        -moz-animation: fadeInTop 1s 1 cubic-bezier(.77,0,.175,1);
        -o-animation: fadeInTop 1s 1 cubic-bezier(.77,0,.175,1);
        animation: fadeInTop 1s 1 cubic-bezier(.77,0,.175,1);
    }
    /* apply out-animation for menu bar elements */
    .et_header_style_centered .et_pb_menu_hidden #et_search_icon:before, 
    .et_header_style_centered .et_pb_menu_hidden .mobile_menu_bar,
    .et_header_style_centered .et_pb_menu_hidden .select_page,
    .et_header_style_split .et_pb_menu_hidden #et_search_icon:before, 
    .et_header_style_split .et_pb_menu_hidden .mobile_menu_bar,
    .et_header_style_split .et_pb_menu_hidden .select_page {
        opacity: 0;
        -webkit-animation: fadeOutBottom 1s 1 cubic-bezier(.77,0,.175,1);
        -moz-animation: fadeOutBottom 1s 1 cubic-bezier(.77,0,.175,1);
        -o-animation: fadeOutBottom 1s 1 cubic-bezier(.77,0,.175,1);
        animation: fadeOutBottom 1s 1 cubic-bezier(.77,0,.175,1);
    }
    /* apply in-animation for "Select Page" container */
    .et_header_style_centered .et_pb_menu_visible .select_page,
    .et_header_style_split .et_pb_menu_visible .select_page {
        opacity: 1;
        -webkit-animation: fadeInBottom 1s 1 cubic-bezier(.77,0,.175,1);
        -moz-animation: fadeInBottom 1s 1 cubic-bezier(.77,0,.175,1);
        -o-animation: fadeInBottom 1s 1 cubic-bezier(.77,0,.175,1);
        animation: fadeInBottom 1s 1 cubic-bezier(.77,0,.175,1);
    }
    /* adjust close search icon horizontal positioning */
    .et_header_style_centered span.et_close_search_field,
    .et_header_style_split span.et_close_search_field {
        right: 5px;
    }
    /* adjust search form input horizontal positioning */
    .et_header_style_centered .et-search-form input,
    .et_header_style_split .et-search-form input {
       left: 10px;
       right: auto;
    }
    /* adjust search form input and close icon vertical positioning */
    .et_header_style_centered .et-search-form input, 
    .et_header_style_centered span.et_close_search_field,
    .et_vertical_nav.et_header_style_centered .et-search-form input, 
    .et_vertical_nav.et_header_style_centered span.et_close_search_field,
    .et_header_style_split .et-search-form input, 
    .et_header_style_split span.et_close_search_field  {
        top: unset !important;
        line-height: 2em;
    }
    .et_header_style_centered span.et_close_search_field,
    .et_header_style_split span.et_close_search_field  {
        bottom: 20px;
    }
    /* set width values for search form */
    .et_header_style_centered .et-search-form,
    .et_header_style_split .et-search-form {
        width: 100% !important;
        max-width: 100% !important;
        bottom: 20px;
    }
    /* adjust close search icon top margin */
    .et_header_style_centered .et_close_search_field:after,
    .et_header_style_split .et_close_search_field:after {
        margin-top: -2px;
    }
}
/* END */

/* === Show social icons on mobiles === */
/* src: https://divibooster.com/show-divi-header-social-icons-on-mobiles-divi-2-4/ */
@media only screen and (max-width: 767px) {
    div#et-secondary-menu { 
		display: block !important; 
 		margin-left: auto !important;
    margin-right: auto !important;
		margin-top: 0px !important;
		padding-top: .75em;
	} 
	#et-secondary-menu>div.et_duplicate_social_icons>ul>li a {
		display: block;
		padding-bottom: .75em;
	}
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
	div#et-secondary-menu { 
		display: block !important; 
		padding-top: .75em; 
    } 
}
/* === END: Show social icons on mobiles === */

/* Mobile menu styles */
.et_mobile_menu {
border:0px #fff;
border-radius: 3px; 
width:125%;
margin-left: -12.5%;
background-color: rgba(255,255,255,0.92) !important;
 padding: 0% 0;
}

.et_mobile_menu li a {
	width: 49%;
	float: left;
	color: #2B2B2B; /* #e0e0e0; */
	background:rgba(243, 243, 243, 0.33); /*Change this */
	margin-bottom:5px;
	margin-right:1%;
 text-align: center;
 font-size: .8em;
 border: 0;
 padding: 15px 0;
 letter-spacing: 1px;
}

#mobile_menu .current_page_item a {
	font-weight: bolder;
	color: #ffdb00
} 


/* Change mobile menu hamburger to X when opened */
.mobile_nav.opened .mobile_menu_bar:before {
 content: '\4d';
}

/*
 * 
 * Link styling
 * 
 * */
a:link {
     font-weight: bold;
 } 

/* Float social icons in top-navbar to right */
#top-header .et-social-icons { float:right !important; }
#top-header #et-info { width: 100%; }

/* Column Stacking */
@media (max-width: 980px) {
.flex-columns .et_pb_row {
  display: flex; }
.flex-columns.twobytwo .et_pb_row {
  display: flex; }
.flex-columns.twobytwo .et_pb_row {
  flex-wrap: wrap; }
.flex-columns.twobytwo .et_pb_row .et_pb_column {
  width: 50% !important; } 
}
@media (max-width: 479px) {
.flex-columns.twobytwo .et_pb_row {
  flex-wrap: wrap; } 
.flex-columns.twobytwo .et_pb_row .et_pb_column {
  width: 50% !important; }
}

/* Always show arrows in slider gallerys */
.et-pb-arrow-next {
color: #ffffff !important;
opacity: 1 !important;
right: 22px;
}
.et-pb-arrow-prev{
color: #ffffff !important;
opacity: 1 !important;
left: 22px;
}

/*Slider Dot Nav Styling*/
.et-pb-controllers .et-pb-active-control {
    background-color: #fff !important;
}
.et-pb-controllers .et-pb-active-control {
    background-color: rgba(255,255,255,0.6) !important;
}

/* 
 * 
 * Block quote 
 * 
 * */
/*Quotation Mark*/
blockquote:before {
  content: "\201C";
  font-size: 175px;
  font-family: 'Alegreya', serif !important;
  background: -webkit-linear-gradient(180deg, #ffec77 60%, #ffec77 40%);/*Change the Colours here*/
  -webkit-background-clip: text;
  color: transparent;
	padding-bottom: 0% !important;
}

blockquote p {
	font-style: italic;
	font-size: 1.4em !important;
}

blockquote {
  position: relative;
  border-left: none;
}

/*Mobile Settings Add CSS Class colour-wrap to Text Module*/
@media all and (min-width: 700px) {
.colour-wrap {
  float: left;
  margin: 20px 20px 20px -10%;
}
blockquote {
  padding: 0 20px;
}
}

/* vertically center columns */
.ds-vertical-align { 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
} 

/* 
* 
* REMOVE SIDEBAR DIVIDING LINE
*
*/
.container:before { background-color:transparent !important; }
.et_pb_widget_area_right { border-left:0 !important; }
.et_pb_widget_area_left { border-right:0 !important; }


/* Center image in About Us in Sidebar */
.sidebar-center, .jetpack_widget_social_icons {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* sidebar social icons */
.icon {
	fill: #878787;
}

.icon:hover {
	fill: #ffdb00;
}


/* Sidebar widget title */
.sidebar-title {
	font-size: 26px !important;
}


/* center Jetpack Social Icons Widget */

.jetpack_widget_social_icons {
	margin-top: -15%;
}

.jetpack_widget_social_icons ul {
    text-align: center;
}

.jetpack_widget_social_icons ul li {
    padding: .15em;
}

/* 
 * 
 * Google search bar 
 * 
 * */

/* Banner search box form styling */
/* widths */
.cse-search-form {
	width: 55% !important;
}
@media (max-width: 980px) {
.cse-search-form {
	width: 76% !important;
}
}
@media (max-width: 479px) {
.cse-search-form {
	width: 95% !important;
}
}

.gsc-input-box {
	border: 0px solid rgba(0,0,0,0) !important;	
}

.entry-content tr td {
	border-top: 0px !important;
}

.gsc-input-box {
	margin: 18px -50px 0 0% !important;
	background: rgba(255,255,255,0.82) !important;
	border-radius: 3px 0px 0px 3px !important;
	border-color: #000;
} 

.gsc-input {
	background: rgba(255,255,255,0) !important;
	color: #2d2d2d !important;
}

.gsc-search-button {
	margin: -85% 0px 80 -50px !important;
	padding: 18.5px 27px !important;
	border-radius: 3px !important;
}

/* 
 * 
 * Navbar Search styling
 * 
 * */

.nav-search-form .gsc-input-box {
	margin: 0px -40px 0 0% !important;
	padding: 5px 0 !important;
}

/* form vertical spacing */
.nav-search-form, .nav-search-form .et_close_search_field {
	margin-top: 100px !important;
}

/* search closure X */
.nav-search-form .et_close_search_field {
	margin-top: -113px !important;
}

@media (max-width: 980px) {
.nav-search-form {
	margin-top: 68px !important;
}
	
/* search closure X */
.nav-search-form .et_close_search_field::after {
	margin-top: -83px !important;
}
	.nav-search-form .gsc-search-button {
	margin-right: -10px !important;
}
	
}

.gsib_b {
	display: none !important;
}
	
/* .nav-search-form .gsc-search-button {
		 display: none !important;
} */

.nav-search-form #gs_tti50 {
	border: 1px solid #adadad !important;
	text-transform: lowercase !important;
}

.nav-search-form .gsc-search-button {
	padding: 10px 10px !important;
	margin-top: -1px !important;
}

/* navbar search widths*/
.nav-search-form.cse-search-form {
	width: 80% !important;
	margin-top: 20% !important;
}

/* @media (max-width: 980px) {
.nav-search-form.cse-search-form {
	width: 60% !important;
}
}
@media (max-width: 479px) {
.nav-search-form.cse-search-form {
	width: 80% !important;
}
} */


/* 
* 
* MODERN TYPOGRAPY SCALE
*
*/

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}
h5 {
    font-size: 19px !important;
}

p, .et_post_meta_wrapper .entry-content p, .entry-content p span, article .et_post_meta_wrapper .entry-content p span, .entry-content li, .gs-snippet, article ol li span  {
	font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif !important;
	font-size: 17px !important;
	font-weight: 400 !important;
	line-height: 1.88 !important;
	color: #2d2d2d !important;
}

.single-post p ~ div span  { 
		font-size: 17px !important;
 }


/** HEADING 1*/
 h1 {
  font-size: 2em;
  /* 2x body copy size = 45px */
  line-height: 1.5;
  /* 45px / 36px */
}

/* HEADING 2*/
h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.5;
  /* 30px / 26px */
} 


@media (min-width: 43.75em) {
	 h1 {
    font-size: 2.25em;
    /* 2.5x body copy size = 40px */
   }
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
   }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 2.5em;
    /* 3x body copy size = 48px */
     /* keep to a multiple of the 20px line height 
    and something more appropriate for display headings */
	}

	h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
   }
}
/* 
* 
* YELLOW HEADER STYLING
*
*/
.yellow {
	font-size: 1.25em;
	text-transform: uppercase;
	color: #ffdb00;
	line-height: 2em;
	letter-spacing: 2px;
	font-weight: 700;
}

/* Text link button */
.text-button {
	font-size: 20px;
	color: #000 !important;
	text-transform: uppercase;
	font-family: "Poppins";	
}

.et_pb_widget a {
	color: #000 !important;
}

/* 
* 
* BLOG POST STYLING
*
*/

/*
 * 
/* Fix logo alignment on posts
.single-post.et_header_style_centered #logo {
    position: relative;
    top: -17px;
}
*/

 /* Blog text Styling */
.single-post .entry-content h2, article .entry-content h2 span, article .entry-content h3 span, article .entry-content h4 span, article .entry-content h2 strong {
	font-size: 17pt !important;
	line-height: 29pt !important;
	color: #1d1d1d !important;
	text-decoration: none !important;
	font-weight: 600 !important;
}
 
/* Spacing around blog post image */
/*.post-template-default img {
	margin-top: 1.4em;
	margin-bottom: 1.6em;
}*/

article ol li, article ul li {
	margin-left: .5em !important;
	line-height: 29pt !important;
}

/* Constrain size of images embedded in blog post */
.et_pb_post a img {
		margin-top: 1.4em;
		margin-bottom: 1.6em;
}

@media (max-width: 479px) {
	.et_pb_post a img {
		height: auto; width: 250px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}


article ol li, article ul li {
	margin-left: 2.5em !important;
	line-height: 29pt !important;
	margin-bottom: 1.36em;
}

.su-note {
	display: inline-block !important;
}

/* 
* 
* BLOG TILE FORMATTING 
*
*/

.ds-blog-square .post-content {
    display: none;
}

.ds-blog-square h2 {
    margin: 0;
    padding: 0;
	  text-align: center;
}

.ds-blog-square .et_pb_post {
    position: relative;
    padding-bottom: 0;
    border: none;
}

.ds-blog-square h2 a  {
    position: absolute;
    top: 0;
    left: 0;
    height: 34%;
    width: 100%;
    padding: 20% 10%;
    margin-top: 53%;
    overflow: hidden;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    color: #000;
  background: rgba(255,255,255,0.82);
	  outline: 3px solid rgba(255,255,255,0.82);
}

@media (max-width:980px) {
	.ds-blog-square h2 a  {
    margin: 50% 0%;
	}
}


.ds-blog-square .et_pb_post:hover  {
	 -webkit-filter: brightness(1.05);
   filter: brightness(1.05);
}
 
/* Standardize blog tile image size */
/* .column.size-1of3 .entry-featured-image-url {
    display: block;
    max-height: 400px;
    overflow: hidden;
} */ 

/* Center blog gallery on tablet & mobile */

@media (max-width:980px) {
	.ds-blog-square, .et_pb_blog_grid, .et_pb_image_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
	}
}

/* jetpack recent posts color */
.widget_recent_entries li a {
	color: #878787;
}
.widget_recent_entries li a:hover {
	color: #ffdb00;
}

.jp-relatedposts-post-date, .jp-relatedposts-post-context {
	display: none !important;
}

.jp-relatedposts-post-title {
	font-family: "Poppins" !important;
	font-size: 16pt !important;
	line-height: 1.7em !important;
	color: #1d1d1d !important;
	font-weight: 600 !important;
}

/* mailchimp fields*/
 .mc-field-group {
	font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif !important;
	font-weight: 400 !important;
	color: #4d4d4d !important;
}

#gsc-i-id1 {
	text-transform: lowercase !important;
}

/* footer social media icon hover color */
#footer-bottom .et-social-icons a:hover {
 color:#ffe544;
}
